<div class="alert alert-dismissable alert-<%- error_type %>" style="width: 96%; margin: auto;">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= error_message %>
</div>