<title>Pokemon Party &bull; <%= title %></title>
<link href="/reset-css/reset.css" rel="stylesheet">
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">